:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0)
    );
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
}

* {
    font-family: 'Noto Sans Arabic', sans-serif;
}

nav .dropdown-menu2 {
    left: auto !important;
    right: 0;
}
.bg-black {
    --bs-bg-opacity: 1;
    background-color: rgba( var(--bs-black-rgb), var(--bs-bg-opacity) ) !important;
}
.h2_section12{
    letter-spacing: 0px;
}
.account__details li{
    font-size: 14px;
}

.section10 .icon3 i {
    margin-left: 8px;
}
.arrow-right {
    right: inherit;
    left: -130px;
    transform: rotate(180deg);
}
.rotate180{
    transform: rotate(180deg);
}

li.bullets:before {
    margin: 0 5px 0 4px;
}

li.bullets {
    margin-bottom: 12px;
}


.letter-s-4{
    letter-spacing: 0px;
}

.list-container ul li a:before {
    right: -26px;
    transform: rotate(180deg);

}
.check_icon{
    margin-right: 0px;
    margin-left: 10px;
}

.account__step__content {
    text-align: center;
}

.item-vision h4 {
    border-right: 4px solid var(--color-green);
    border-left: 0px solid var(--color-green);
    text-indent: 6px;
}

.items-images img {
    margin-left: 6px;
}

ul.arrows li {
    padding-left: 0px;
    padding-right: 16px;
}
ul.arrows li:before{
    left: unset;
    right: 0;
    transform: rotate(180deg);
}
.ask_div {
    border-left: 0 solid #74b22b;
    border-right: 4px solid #74b22b;
}

.ask_div2 {
    border-left: 0px solid #081653;
    border-right: 4px solid #081653;
}
.table_platform_content button{
    margin-top: 8px;
}

.brokersright li img {
    margin-right: 0rem;
    margin-left: 8px;
}
.dropdown-item{
    text-align: right;
}
.sub_lang, .dropdown-menu[data-bs-popper]{
    left: 0;
    right: auto;
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0.uld_hover{
    float: right;
    direction: rtl;
    flex: auto !important;
}
ul.ul01 .dropdown-item {
    padding: 5px 5px;
}

.terminal__details li{
    padding-left: auto;
    padding-right: 13px;
}
.terminal__details li::before{
    left: auto;
    right: 0;
}
.steps_item-1, .steps_item-2, .steps_item-3 {
    padding-right: 3rem;
}
.steps_item-1:before, .steps_item-2:before, .steps_item-3:before{
    left: auto;
    right: 0;
}
.steps_item-2:not(:first-child):after, .steps_item-3:not(:first-child):after{
    left: auto;
    right: -33px;
    transform: rotate(180deg);
}
.steps_item-2 {
    padding-left: 4rem;
}
.ar_dir_ltr{
    direction: ltr;
}
.ar-d-content{
    display: contents;
}
@media screen and (max-width: 600px) {
    .navbar-collapse .d-flex{
        width: 100%;
    }
  }
